@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);

h1, h2 { font-family: Quicksand, sans-serif; }
p, li { font-family: Bitter, serif; }
a { color: #3278b3; text-decoration: none; }
